-H "Own-Auth-UserName: <user>" http://localhost:5000/v1/forecast/?city=Moscow&dt=2023-02-21T12:00
-H "Own-Auth-UserName: <user>" http://localhost:5000/v1/forecast/?city=Riga&dt=2023-02-21T12:00
-H "Own-Auth-UserName: <user>" http://localhost:5000/v1/current/?city=Moscow
-H "Own-Auth-UserName: <user>" http://localhost:5000/v1/current/?city=San_Francisco